@page
@using Microsoft.AspNetCore.Mvc.Localization
@using LC.Crawler.BackOffice.Localization
@using LC.Crawler.BackOffice.Web.Pages.ProductVariants
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using LC.Crawler.BackOffice.ProductVariants;
@using System.Globalization
@inject IHtmlLocalizer<BackOfficeResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/ProductVariants/EditModal" autocomplete="off">
    <abp-modal id="ProductVariantEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />

                    
            <abp-input asp-for="ProductVariant.SKU"/>

            <abp-input asp-for="ProductVariant.RetailPrice"/>

            <abp-input asp-for="ProductVariant.DiscountRate"/>

            <abp-input asp-for="ProductVariant.DiscountedPrice"/>

                                <abp-select asp-for="ProductVariant.ProductId" asp-items="Model.ProductLookupListRequired" label="@L["Product"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>