@page
@using Microsoft.AspNetCore.Mvc.Localization
@using LC.Crawler.BackOffice.Localization
@using LC.Crawler.BackOffice.Web.Pages.Medias
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using LC.Crawler.BackOffice.Medias;
@using System.Globalization
@inject IHtmlLocalizer<BackOfficeResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Medias/EditModal" autocomplete="off">
    <abp-modal id="MediaEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />

                    
            <abp-input asp-for="Media.Name"/>

            <abp-input asp-for="Media.ContentType"/>

            <abp-input asp-for="Media.Url"/>

            <abp-input asp-for="Media.Description"/>

            <abp-input asp-for="Media.IsDowloaded"/>

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>